<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Convierte en un Proveedor</h1>
            <h3 class="mb-5">
                <em>Ofrece tus productos a millones de personas</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/profile">
                Vender ahora
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>